body {
    font-family: "Poppins", sans-serif;
    background-color: #e1dcc9;
    margin: 0;
}

input{
    font-family: "Poppins", sans-serif
}

header{
    height: 100px;
    width: 100%;
    background-color: #17395c;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 0px 20px;
    box-sizing: border-box;
}

figure{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 65px;
}

#logo{
    color: white;
    font-size: 40px;
}

header h2{
    text-align: right;
}

header nav a{
    color: white;
    text-decoration: none;
    margin-left: 5px;
}

header nav a:hover{
    text-decoration: underline;
}

.selecionar-cidades-container{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    color: #17395c;
}

.selecionar-cidades-container:first-of-type{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    color: #17395c;
}

.selecionar-cidades-container:first-of-type .selecionar-cidades-component{
    width: 80%;
}

.selecionar-cidades-container:first-of-type .selecionar-cidades-component label{
    padding-left: 10px;
}

.selecionar-cidades-component label{
    font-size: 1.75em;
}

#selecionar-cidades-form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: -20px;
    margin-bottom: -40px;
    padding: 30px 0px 70px;
    height: 100%;
}

#selecionar-cidades-form::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('Imagens/imagem2.jfif');
    background-size: cover;
    opacity: 0.2;
    z-index: -1000;
    margin-bottom: -120px;
}

#selecionar-cidades-form select{
    height: 4em;
    font-size: 1.2em;
    font-family: "Poppins", sans-serif;
}

/*#selecionar-cidades-form select option{
    font-size: 1.2em;
}*/

#selecionar-cidades-form input[type='submit']{
    width: 17.5%;
    font-size: 1.15em;
}

.selecionar-cidades-component .date-input{
    width: 100%;
    font-size: 1.2em;
    font-family: "Poppins", sans-serif;
}

.selecionar-cidades-container:last-of-type .selecionar-cidades-component{
    width: 30%;
}

main {
    max-width: 800px;
    margin: 40px auto;
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

main h2 {
    color: #17395c;
    margin-bottom: 10px;
}

main p, main ul {
    color: #333;
    font-size: 16px;
    line-height: 1.6;
}

main ul {
    list-style-type: disc;
    margin-left: 20px;
}

main section {
    margin-bottom: 30px;
}

main section:last-child {
    margin-bottom: 0;
}

.container {
    max-width: 400px;
    margin: auto;
    background: #f4f4f4;
    padding: 20px;
    padding-right: 40px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    color: #17395c;
}

.container a{
    color: #17395c;
    text-decoration: none;
}

.container a:hover{
    color: #04172b;
    text-decoration: underline;
}

h1, h2 {
    text-align: center;
}

div {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="tel"],
input[type="email"],
input[type="password"],
input[type='date'],
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #17395c;
    box-sizing: border-box;
}

input[type='text']:focus,
input[type="tel"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type='date']:focus,
select:focus {
    outline: 2px solid #17395c;
}

input[type="submit"] {
    background: #c24229;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    width: 100%;
}

input[type="submit"]:hover {
    background: #812715;
}

button{
    background: #c24229;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    width: 40%;
    margin-top: 20px;
}

button:hover{
    background: #812715;
}


.exibir-viagens{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.viagem{
    border: 2px solid red;
    border-radius: 30px;
    width: 70%;
    height: 175px;
    padding: 20px 40px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #17395c;
}

.viagem #logo{
    width: 20%;
    font-size: 8.5em;
    color: #17395c;
}

.viagem button{
    width: 18%;
    height: 100px;
}

.viagem div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.viagem p{
    font-size: 1.25em;
}


footer {
    background-color: #efb758;
    padding: 20px;
    margin-top: 20px;
    text-align: center;
    color: #17395c;
}

.footer-content p {
    margin: 5px 0;
}

.footer-content a {
    color: #000000;
    text-decoration: underline;
}

.footer-content a:hover {
    color: #636363;
}

footer time {
    font-style: italic;
}

